<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyRSSReader.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1014421D1B2ED37C008967DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10661DC81925976D006ADFB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10661DEC1925976D006ADFB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>107938061B38FB1100276ABF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10FAA99D1B32A34700D59343</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
